# Installed packages (re-created by `npm install`)
node_modules/

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*

# Native build artifacts (re-created by Xcode / Android Studio / cap sync)
ios/App/Pods/
ios/App/build/
ios/App/output/
ios/DerivedData/
android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
*.xcuserstate
.gradle/
